.section-title-container {
    .section-title {
        font-family: var(--font-family-paragraph);
        font-size: var(--font-size-h-xs);
        font-weight: var(--font-weight-semibold);
        margin-bottom: 24px;
    }
}
