@use '../../../../styles/variables' as *;

article#card-medium:not(:last-child) {
    margin-bottom: 24px;
}
article#card-medium:last-child {
    margin-bottom: 64px; // height of storybottombar
}

article#card-medium {
    border-radius: 12px;
    height: 228px;
    background-color: $background-color-light;
    box-shadow: 4px 4px 2px rgb(35, 45, 46, 25%);
    position: relative; // just to contain card-date-wrapper which is position absolute

    a.anchor-wrapper {
        height: 100%;
        width: 100%;

        div.card-date-wrapper {
            font-size: 24px;
            color: $text-color-primary;
            font-weight: $font-weight-bold;
            position: absolute;
            top: 0;
            left: 0;
            margin: 16px;
            text-shadow: #fff 1px 0 8px;
        }

        img.card-top-image {
            height: 140px;
            width: 100%;
            border-radius: 12px 12px 0 0;
        }

        .card-info-wrapper {
            padding: 16px 12px;

            // .card-title-wrapper {
            //     h2 {
            //         font-size: 24px;
            //     }
            // }

            // .intro-text-wrapper {
            //     margin: 16px 0;
            //     height: 4.4rem;
            //     // text-overflow: ellipsis;

            //     p {
            //         color: #3f4d4d;
            //         font-size: 1rem;
            //         line-height: 1.1;
            //     }
            // }

            // .tag-box {
            //     display: inline-block;
            //     background-color: #e3e3e3;
            //     font-size: 14px;
            //     padding: 0.5rem 1rem;
            //     border-radius: 2rem;
            //     margin-right: 8px;
            //     color: $text-color-primary;
            // }
        }
    }
}
