header#topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: var(--z-index-bar);

    height: 64px;
    background-color: var(--color-primary-0);
    padding: 0 16px;

    .logo-wrapper {
        height: 100%;
        display: flex;
        align-items: center;

        // .logo-title {
        //     cursor: pointer;
        // }
    }

    .hamburger-wrapper {
        height: 48px;
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        left: 9px;

        // img.hamburger {
        // }
    }
}
