@use '../../styles/variables' as *;

header#topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    width: 100%;

    height: 64px;
    background-color: var(--color-primary-0);
    padding: 16px;
}

.logo-title {
    cursor: pointer;
}

img.hamburger {
    cursor: pointer;
}
