// to apply to body if i dont want the page to scroll
// https://blog.logrocket.com/how-to-prevent-overflow-scrolling-css/
// touch-action: none;
// // -webkit-overflow-scrolling: none;
// overflow: hidden;
// overscroll-behavior: none;

div.contentmenu-screen {
    // uguale a mainmenu!!!!!
    height: 100%;
    background-color: var(--color-primary-0);

    z-index: var(--z-index-menu);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;

    div.header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 56px;
        width: 100%;

        position: fixed;
        top: 0;
        background-color: var(--color-primary-0);

        // &::before {
        //     content: '';
        //     width: 32px;
        //     margin-left: 12px;
        // }

        .menu-title {
            font-size: 18px;
            font-weight: var(--font-weight-semibold);
            margin-left: 24px;
        }

        div.close-icon-wrapper {
            margin-right: 12px;

            .close-icon {
                height: 28px; //32
                width: 28px;
                cursor: pointer;
            }
        }
    }

    div.content-list-wrapper {
        margin: calc(32px + 56px) 24px;
        // margin: 32px 24px;

        nav.contentmenu {
            // .ch-title {
            //     font-size: 22px;
            //     font-weight: var(--font-weight-semibold);
            //     // margin-left: 24px;
            //     margin-bottom: 24px;
            // }

            .section-title {
                // font-size: var(--font-size-p-main);
                font-size: 16px;
                font-weight: var(--font-weight-semibold);
                margin-bottom: 1rem;
                line-height: 1.4;
                cursor: pointer;

                span {
                    font-weight: var(--font-weight-bold);
                    margin-right: 0.4rem;
                }
            }

            .par-title {
                // font-size: var(--font-size-p-main);
                font-size: 16px;
                margin-left: 24px;
                margin-bottom: 1rem;
                cursor: pointer;
            }
        }
    }
}
