div.contentmenu-screen {
    // uguale a mainmenu!!!!!
    height: 100%;
    background-color: var(--color-primary-0);

    z-index: var(--z-index-menu);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    div.header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 56px;
        width: 100%;

        &::before {
            content: '';
            width: 32px;
            margin-left: 12px;
        }

        .menu-title {
            font-size: var(--font-size-h-small);
            font-weight: var(--font-weight-semibold);
        }

        div.close-icon-wrapper {
            margin-right: 12px;

            .close-icon {
                height: 32px;
                width: 32px;
                cursor: pointer;
            }
        }
    }

    nav.contentmenu {
        text-align: center;
        margin: 92px 16px;

        li.menu-item {
            margin-bottom: 18px;
            // color: #fff;
        }

        li.menu-item a {
            font-size: 24px;
            font-weight: var(--font-weight-semibold);
            color: var(--color-neutral-4);
        }

        ol.section-1,
        ol.section-2 {
            margin-bottom: 64px;
        }
    }
}

// to apply to body if i dont want the page to scroll
// https://blog.logrocket.com/how-to-prevent-overflow-scrolling-css/
// touch-action: none;
// // -webkit-overflow-scrolling: none;
// overflow: hidden;
// overscroll-behavior: none;
