@use './variables' as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    // 1rem equals the font size of the html element
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1; // 1.6, most browsers default is 1.2
    background-color: $background-color-primary;
    color: $text-color-primary;
}

a {
    color: #007bff;
    text-decoration: none;
    // transition: color 0.1s ease; // 0.3

    &:hover {
        color: #0056b3;
    }
}

// .container {
//   max-width: 1200px;
//   margin: 0 auto;
// }

// /* Responsive layout */
// @media (max-width: $medium-screen) {
//   body {
//     font-size: 14px;
//   }
// }
