html {
    // 1rem equals the font size of the html element
    font-size: 16px;
}

body {
    font-family: var(--font-family-paragraph);
    font-size: var(--font-size-p-main);
    color: var(--color-neutral-4);
    line-height: 1; // 1.6, most browsers default is 1.2
    background-color: var(--color-primary-2);
}

a {
    color: #007bff;
    text-decoration: none;
    // transition: color 0.1s ease; // 0.3

    &:hover {
        color: #0056b3;
    }
}

// .container {
//   max-width: 1200px;
//   margin: 0 auto;
// }

// /* Responsive layout */
// @media (max-width: $medium-screen) {
//   body {
//     font-size: 14px;
//   }
// }
