// https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Fundamentals#web_safe_fonts
@use './variables' as *;

h1,
h2,
h3 {
    font-family: var(--font-family-header); // $font-family-heading
    color: var(--color-neutral-4);
    // margin-bottom: 1rem;
}

p {
    font-family: var(--font-family-paragraph);
    font-size: var(--font-size-p-main); //!!!!!!!!!!!!!!
    // line-height: $line-height-medium;
    color: var(--color-neutral-4);
}

a {
    color: red;
    text-decoration: none;

    &:hover {
        text-decoration: #f45843;
    }
}
