// https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Fundamentals#web_safe_fonts

h1,
h2,
h3 {
    font-family: $font-family-body; // $font-family-heading
    color: $text-color-primary;
    // margin-bottom: 1rem;
}

p {
    font-family: $font-family-body;
    font-size: $font-size-medium; //!!!!!!!!!!!!!!
    // line-height: $line-height-medium;
    color: $text-color-primary;
}

a {
    color: $text-color-accent;
    text-decoration: none;

    &:hover {
        text-decoration: #f45843;
    }
}
