// https://www.smashingmagazine.com/2018/05/css-custom-properties-strategy-guide/

// Colors
:root {
    --color-primary-0: #fffbeb;
    --color-primary-1: #fce588;
    --color-primary-2: #f7c94a;
    --color-primary-3: #ca6d16;
    --color-primary-4: #8e2c0b;

    --color-neutral-0: #e6e6e6;
    --color-neutral-1: #b8b8b8;
    --color-neutral-2: #707070;
    --color-neutral-3: #424242;
    --color-neutral-4: #212121;

    --color-white-0: #ffffff;

    --color-support-1: #d53939;
    --color-support-2: #e1872d;
    --color-support-3: #d9d926;
    --color-support-4: #7dc832;
    --color-support-5: #25ad52;
    --color-support-6: #33ccb3;
    --color-support-7: #3380cc;
    --color-support-8: #8033cc;
}

// Typography
:root {
    --font-family-paragraph: 'Lato', sans-serif;
    --font-family-header: 'Vollkorn', serif;

    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --font-size-p-main: 18px;
    --font-size-p-mid: 16px;
    --font-size-p-sm: 14px;
    --font-size-h-main: 26px;
    --font-size-h-small: 22px;
    --font-size-h-xs: 19px;

    //!! p-main-reg-wider !! for article paragraphs! larger letter-spacing

    // --font-size-base: 16px;
    // --line-height: 1.5;

    --line-height-p: 1.4;
    --line-height-h: 1.1;
}

:root {
    // Shadows
    --shadow-down: 0px 2px 4px 0px rgba(82, 82, 82, 0.35);
    --shadow-up: 0px 0px 3px 0px rgba(82, 82, 82, 0.35);
    --shadow-border-filter: drop-shadow(0px 0px 2px rgba(82, 82, 82, 0.35));
    --shadow-border: 0px 2px 4px rgba(0, 0, 0, 0.1);

    // Z-index
    // Z-index
    --z-index-modal: 100;
    --z-index-dropdown: 99;
    --z-index-menu: 90;
    --z-index-bar: 80;
    --z-index-down: -1;
}
