@use '../../styles/variables' as *;

div#homebar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 64px;
    width: 100%;

    height: 56px;
    background-color: $background-color-light;
    padding: 8px 16px;
    // filter: drop-shadow(0 3px 2px rgb(35, 45, 46, 25%));
    box-shadow: 0 3px 2px rgb(35, 45, 46, 25%);
}

input.search-input {
    border: 1px solid #231007;
    border-radius: 64px;
    padding: 4px 12px;
    font-size: 14px;
    height: 36px;
    min-width: 240px;
    color: $text-color-primary;
}
input.search-input:focus {
    border: 1px solid $text-color-primary;
    outline: none;
}

// div.controls-wrapper {
//     margin-right: 8px;
// }

.sort-icon-wrapper,
.filters-icon-wrapper {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    min-width: 3rem;
    margin-right: 4px;
    cursor: pointer;
}
.sort-icon-wrapper:hover,
.filters-icon-wrapper:hover {
    background-color: lightgray;
    border-radius: 50%;
}

.sort-icon,
.filters-icon {
    height: 24px;
    width: auto;
    color: #231007;
}

.control-label {
    font-size: 14px;
    letter-spacing: -0.5px;
    line-height: 1.4;
}
