// exactly the same as div#homebar. use mixins?
div#storybar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    padding: 4px 16px;
    background-color: var(--color-primary-0);
    box-shadow: var(--shadow-down);

    .back-wrapper {
        height: 48px;
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        left: -15px;
    }

    .story-title-wrapper {
        height: 48px;
        width: auto;
        padding: 0 16px;
        display: flex;
        align-items: center;
        color: var(--color-primary-4);
        font-weight: var(--font-weight-semibold);

        cursor: pointer;
    }

    .more-wrapper {
        position: relative;
        left: 14px;
        cursor: pointer;
    }
}
