div#storybottombar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    bottom: 0;
    width: 100%;

    height: 64px;
    background-color: var(--color-primary-0);
    padding: 4px 16px;
    box-shadow: var(--shadow-up);
    z-index: var(--z-index-bar);

    .storybottombar-icon-wrapper {
        min-width: 72px;
        height: 56px;
        // text-align: center;
        color: var(--color-neutral-4);
        cursor: pointer;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &.active {
            color: var(--color-primary-4);
        }

        .storybottombar-icon {
            // margin-top: 3px;

            // Non serve perchè uso svg currentColor
            // &.active {
            //     path {
            //         fill: var(--color-primary-4);
            //     }
            // }

            svg {
                width: 30px;
                height: 30px;
            }
        }

        .storybottombar-label {
            font-size: var(--font-size-p-sm);
            // font-weight: 600;
            // letter-spacing: -0.3px;
            line-height: 1;
            margin-top: 4px;
        }
    }

    // use &:hover?
    // .storybottombar-icon-wrapper:hover {
    //     background-color: lightgray;
    //     border-radius: 20%;
    // }
}
