@use '../../../../styles/variables' as *;

article#card-small:not(:last-child) {
    margin-bottom: 18px;
}
article#card-small:last-child {
    margin-bottom: 64px; // height of storybottombar
}

article#card-small {
    border-radius: 12px;
    background-color: var(--color-primary-0);
    box-shadow: 4px 4px 2px rgb(35, 45, 46, 25%);
    height: 112px; // piu piccola??
    position: relative; // just to contain card-date-wrapper which is position absolute
    z-index: -1; // -999 ? anche in CardMedium

    a.anchor-wrapper {
        height: 100%;
        width: 100%;
        display: flex;

        div.card-left-wrap {
            flex-basis: auto;
            height: 100%;
            width: 40%;

            div.card-date {
                font-size: 14px;
                color: var(--color-neutral-4);
                font-weight: var(--font-weight-bold);
                position: absolute;
                top: 8px;
                left: 0;
                background-color: rgba(255, 255, 255, 0.5);
                padding: 4px 8px;
            }

            img.card-image {
                border-radius: 12px 0 0 12px;
                height: 100%;
                width: 100%;
            }

            div.colored-rectangle {
                height: 100%;
                width: 100%;
                border-radius: 12px 0 0 12px;
                background-color: #ee8888;
            }
        }

        div.card-right-wrap {
            flex-basis: auto;
            width: 60%;
            padding: 8px;

            display: flex;
            flex-direction: column;

            .card-title-wrap {
                flex-basis: auto;
                height: 75%;
                margin-bottom: 0.5rem;

                h2 {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.2;
                }
            }

            .tags-wrap {
                flex-basis: auto;
                height: 25%;

                .tag-box {
                    display: inline-block;
                    background-color: #e3e3e3;
                    font-size: 14px;
                    padding: 0.4rem 0.8rem;
                    border-radius: 2rem;
                    margin-right: 8px;
                    color: var(--color-neutral-4);
                }
            }
        }
    }
}
