article#card-small {
    border-radius: 12px;
    background-color: var(--color-primary-0);
    box-shadow: var(--shadow-border);

    // height: 112px;

    // padding-bottom-trick part1
    width: 100%;
    // max-width: 624px;
    // overflow: hidden; // TODO: serve?

    // position: relative; // just to contain card-date-wrapper which is position absolute // no need we have it at part2 down

    &:not(:last-child) {
        margin-bottom: 18px;
    }

    a.anchor-wrapper {
        height: 100%;
        width: 100%;
        display: flex;

        div.card-left-wrap {
            flex-basis: auto;
            height: 100%;
            width: 40%;

            // padding-bottom-trick part2
            height: 0;
            padding-bottom: 40%; // aspect ratio
            position: relative;
            // overflow: hidden;

            // give color to padding
            background-clip: padding-box;
            background-color: lightgreen;
            border-radius: 12px 0 0 12px;

            div.card-date {
                // font-family: var(--font-family-header);
                font-size: var(--font-size-p-mid);
                color: var(--color-neutral-4);
                font-weight: var(--font-weight-bold);
                position: absolute;
                top: 10px;
                left: -4px;
                background-color: rgba(255, 255, 255, 0.9);
                padding: 6px 8px;
                border-radius: 4px 0 0 4px;
                z-index: 1;
            }

            img.card-image {
                border-radius: 12px 0 0 12px;
                // height: 100%;
                // width: 100%;

                // padding-bottom-trick part3
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
            }
        }

        div.card-right-wrap {
            flex-basis: auto;
            width: 60%;
            padding: 12px 12px 8px 12px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .card-title-wrap {
                flex-basis: auto;
                margin-bottom: 0.5rem;
                font-size: var(--font-size-h-small); // per usare em qui sotto
                line-height: var(--line-height-h);

                height: 3.3em; // 1.1 * 2
                width: 100%;
                overflow-y: hidden;

                h2 {
                    font-size: var(--font-size-h-small);
                    font-weight: var(--font-weight-semibold);

                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
            }

            .tags-wrapper {
                flex-basis: auto;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                // margin-top: 12px;

                .tag-box {
                    display: inline-block;
                    padding: 6px 8px;
                    color: var(--color-neutral-3);
                    // background-color: var(--color-neutral-0);
                    border: 1px solid var(--color-neutral-1);
                    border-radius: 16px;
                    margin-right: 8px;
                    font-size: var(--font-size-p-sm);
                    line-height: 0.8;
                }
            }
        }
    }
}
