@use '../../../../styles/variables' as *;

article#card-small:not(:last-child) {
    margin-bottom: 18px;
}
article#card-small:last-child {
    margin-bottom: 64px; // ??
}

article#card-small {
    border-radius: 12px;
    background-color: $background-color-light;
    box-shadow: 4px 4px 2px rgb(35, 45, 46, 25%);
    height: 108px;

    a.anchor-wrapper {
        height: 100%;
        width: 100%;
        display: flex;

        img.card-image {
            border-radius: 12px 0 0 12px;
            flex-basis: auto;
            height: 100%; /* Takes 100% of the height */
            width: 40%;
        }

        div.card-info-wrapper {
            flex-basis: auto;
            width: 60%;
            padding: 8px;

            display: flex;
            flex-direction: column;

            .card-title-wrapper {
                flex-basis: auto;
                height: 75%;
                margin-bottom: 0.5rem;

                h2 {
                    font-size: 16px;
                    font-weight: 500;
                }
            }

            .tags-wrapper {
                flex-basis: auto;
                height: 25%;
                // align-items: center;

                .tag-box {
                    display: inline-block;
                    background-color: #e3e3e3;
                    font-size: 14px;
                    padding: 0.25rem 0.5rem;
                    border-radius: 2rem;
                    margin-right: 8px;
                    color: $text-color-primary;
                }
            }
        }
    }
}
