// exactly the same as div#homebar e div#storybar use mixins
div#backbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    // top: 4px; // SCROLLINGBAR
    width: 100%;

    height: 56px;
    background-color: var(--color-primary-0);
    // background-color: transparent; // SCROLLINGBAR
    padding: 4px 16px;
    box-shadow: var(--shadow-down); // SCROLLINGBAR

    .back-wrapper {
        height: 48px;
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        left: -15px;

        // border-radius: 50%; // SCROLLINGBAR
        // background-color: var(--color-white-0); // SCROLLINGBAR
    }

    .interaction-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        left: 9px; // SCROLLINGBAR

        .share-icon-wrapper {
            display: inline-block;
            width: 48px;
            height: 48px;
            text-align: center;
            cursor: pointer;

            // border-radius: 50%; // SCROLLINGBAR
            // background-color: var(--color-white-0); // SCROLLINGBAR

            .share-icon {
                margin-top: 15px;
            }
        }

        .favorite-icon-wrapper {
            display: inline-block;
            width: 48px;
            height: 48px;
            text-align: center;
            cursor: pointer;

            // border-radius: 50%; // SCROLLINGBAR
            // background-color: var(--color-white-0); // SCROLLINGBAR
            // margin-left: 9px; // SCROLLINGBAR

            .favorite-icon {
                margin-top: 14px;
            }
        }
    }
}
