// exactly the same as div#homebar e div#storybar use mixins
div#backbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    width: 100%;

    height: 56px;
    background-color: var(--color-primary-0);
    padding: 4px 16px;
    box-shadow: var(--shadow-down);

    .back-wrapper {
        height: 48px;
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        left: -15px;
    }

    .interaction-wrapper {
        display: flex;
        align-items: center;
        // width: 30%;
        justify-content: flex-end;
        position: relative;
        left: 9px;

        .share-icon-wrapper {
            display: inline-block;
            width: 48px;
            height: 48px;
            text-align: center;
            cursor: pointer;

            .share-icon {
                margin-top: 15px;
            }
        }

        .favorite-icon-wrapper {
            display: inline-block;
            width: 48px;
            height: 48px;
            text-align: center;
            cursor: pointer;

            .favorite-icon {
                margin-top: 14px;
            }
        }
    }
}
