// same as storybottombar
div#articlebottombar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    bottom: 0;
    width: 100%;

    height: 64px;
    background-color: var(--color-primary-0);
    padding: 4px 16px;
    box-shadow: var(--shadow-up);

    .contents-button-wrapper {
        height: 48px;
        width: auto;
        padding: 0 16px;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        left: -16px;

        .contents-icon {
            display: inline-block;
        }

        .contents-label {
            display: inline-block;
            margin-left: 8px;
            position: relative;
            top: -1px;
            font-size: var(--font-size-p-mid);
        }
    }

    .controls-wrapper {
        height: 48px;
        width: auto;
        position: relative;
        right: -12px;

        .control-wrap {
            height: 48px;
            width: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 4px;
            cursor: pointer;

            .control-icon {
                height: 28px;
            }
        }
    }
}
