@use '../../styles/variables' as *;

aside#story-time-menu {
    display: none;

    position: fixed;
    top: 112px;
    left: 0;
    right: 35%;
    bottom: 0;
    background-color: #fff;
    // daje de z-index qui e pure a bottombar
}
